/* eslint-disable no-var */
module.exports = {
    playDanmu: function(newValue, oldValue, ownerInstance, instance) {
        if (newValue === oldValue) {
            return;
        }
        var state = instance.getState();
        state.playStatus = newValue;
        var dataset = instance.getDataset();
        if (newValue === "enter") {
            instance.requestAnimationFrame(function() {
                instance.setStyle({
                    transform:
                        "scale(" +
                        dataset.extendCoefficient +
                        ") " +
                        " translate3d(-50%, -50%, 0)"
                });
            });
            return;
        }
        if (newValue === "leave") {
            var style = {
                transform:
                    "scale(" +
                    dataset.extendCoefficient +
                    ")" +
                    " translate3d(-50%, -50%, 0)",
                opacity: 0
            };
            if (state.taped) {
                style.color = "#FFE23D";
            }
            instance.setStyle(style);
            return;
        }
    },
    onDanmuTransitionEnd: function(e, ownerInstance) {
        var state = e.instance.getState();
        var dataset = e.instance.getDataset();
        if (state.playStatus === "enter") {
            ownerInstance.callMethod("startDanmuPlayTimer", dataset.stayTime);
            return;
        }
        if (state.playStatus === "leave") {
            ownerInstance.callMethod("onBubbleLeave");
            return;
        }
    },
    onDanmuTap: function(e, ownerInstance) {
        var dataset = e.instance.getDataset();
        var state = e.instance.getState();
        if (state.playStatus === "leave") {
            return;
        }
        if (dataset.menuShown) {
            ownerInstance.callMethod("onDanmuTap");
            return;
        }
        ownerInstance.callMethod("startDanmuPlayTimer", 5);
        state.taped = true;
        e.instance.setStyle({
            color: "#FFE23D",
            transform:
                "scale(" +
                dataset.extendCoefficient +
                ")" +
                " translate3d(-50%, -50%, 0)"
        });
        ownerInstance.callMethod("onDanmuTap");
    }
};
