.classify-topics {
    padding: 0 24rpx 32rpx;
    box-sizing: border-box;
    width: 750rpx;
    height: auto;
    position: relative;
    .topics-bg {
        position: relative;
        border-radius: 16rpx;
        overflow: hidden;
        min-height: 1100rpx;
        &-mark {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0.92;
        }
        &-pic {
            position: relative;
            z-index: 1;
        }
        .t-0 {
            background: #2288a4;
        }
        .t-1 {
            background: #644ab2;
        }
        .t-2 {
            background: #7b6552;
        }
        .t-3 {
            background: #4990e2;
        }
        .t-4 {
            background: #de5e5e;
        }
    }
    .topics-info {
        position: absolute;
        width: 702rpx;
        left: 24rpx;
        top: 0;
        z-index: 3;
    }

    .topics-list-box {
        position: relative;
        width: 100%;
        height: 796rpx;
    }
    .topics-list {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap; //换行且第一行在上方
        align-items: center;
        justify-content: space-between; //少设置 items边距
        padding: 8rpx 24rpx;
        width: 702rpx;
    }
    .topics-title {
        color: #fff;
        font-size: 36rpx;
        padding: 32rpx 24rpx 0;
        width: 100%;
        box-sizing: border-box;
        font-weight: bold;
        font-family: PingFangSC-Semibold, PingFang SC;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .topics-nav {
        position: relative;
        padding: 24rpx;
        &-content {
            height: 56rpx;
            overflow: hidden;
        }
        &-scroll {
            white-space: nowrap;
            // overflow-x: auto;
            padding-bottom: 20rpx;
        }
        .nav-tap {
            display: inline-block;
            padding: 0 28rpx;
            line-height: 56rpx;
            font-size: 28rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #fff;
            height: 56rpx;
            box-sizing: border-box;
            border-radius: 28rpx;
            opacity: 0.6;
        }
        .active {
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            opacity: 1;
            border: 2rpx solid #fff;
        }
    }
}
