.wrap {
    overflow: auto;
    padding-bottom: 200rpx;
}
.vip-success {
    background-color: rgba(0, 0, 0, 0.6);
    .dialog {
        padding: 182rpx 87rpx;
    }
    .card {
        padding: 94rpx 24rpx 40rpx;
        border-radius: 24rpx;
        .title {
            font-size: 36rpx;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
        }
        .subtitle {
            font-size: 24rpx;
            line-height: 32rpx;
            color: #666;
            margin: 12rpx 0 26rpx;
            font-weight: 300;
        }
        .button {
            width: 380rpx;
            height: 80rpx;
            margin: 0 auto;
            line-height: 80rpx;
            background: #ffe120;
            font-size: 32rpx;
            color: #442509;
            border-radius: 40rpx;
            font-weight: 500;
        }
    }
    .silk {
        position: absolute;
        z-index: 2;
        left: 87rpx;
        top: 126rpx;
        width: 576rpx;
        height: 110rpx;
    }
    .light {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 750rpx;
        height: 402rpx;
    }
    .close {
        z-index: 3;
        right: 105rpx;
        top: 30rpx;
    }
}
.vip-bags {
    background-color: rgba(0, 0, 0, 0.8);
    .dialog {
        padding: 106rpx 38rpx;
    }
    .card {
        padding: 34rpx 16rpx 20rpx;
        border-radius: 20rpx;
        .title {
            display: flex;
            justify-content: center;
            height: 32rpx;
            line-height: 32rpx;
            font-size: 28rpx;
            color: #333;
            font-weight: 500;
        }
        .subtitle {
            font-size: 20rpx;
            color: #beb7cb;
            margin-top: 12rpx;
        }
    }
    .list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 4rpx;
    }
    .gift {
        width: 214rpx;
        height: 264rpx;
        flex-shrink: 0;
        margin-top: 16rpx;
        .cover {
            display: block;
            width: 120rpx;
            height: 120rpx;
            margin: 0 auto;
        }
        .tag {
            width: 100%;
            margin: -12rpx auto 0;
            height: 32rpx;
            line-height: 32rpx;
            font-size: 20rpx;
            color: #7121ff;
            text {
                box-sizing: border-box;
                max-width: 100%;
                display: inline-block;
                padding: 0 8rpx;
                background: rgba(113, 33, 255, 0.08);
                border-radius: 16rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .name {
            padding: 12rpx 8rpx 0;
            font-size: 22rpx;
            line-height: 22rpx;
            color: #333;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .button {
            width: 160rpx;
            height: 56rpx;
            line-height: 56rpx;
            margin: 24rpx auto 0;
            background: #ffe120;
            border-radius: 30rpx;
            font-size: 24rpx;
            color: #442509;
            font-weight: 500;
            &.disabled {
                color: #666;
                background: #e8e4f0;
            }
        }
    }
    .clock {
        background: #f9f6ff;
        padding: 14rpx 0 16rpx;
        text-align: center;
        border-radius: 0 0 20rpx 20rpx;
        border-top: 20rpx solid #fff;
        margin-top: -20rpx;
        .title {
            font-size: 20rpx;
            color: #333;
            margin-bottom: 10rpx;
        }
        .time {
            height: 30rpx;
            line-height: 30rpx;
            font-size: 20rpx;
            color: #999;
            text {
                display: inline-block;
                margin: 0 4rpx 0 10rpx;
                padding: 0 4rpx;
                height: 100%;
                background: #fff;
                color: #333;
                font-weight: 600;
                font-family: "PingFangSC-Semibold,PingFang SC";
            }
        }
    }
    .close {
        z-index: 2;
        left: 347rpx;
        bottom: 0;
    }
}
.dialog-wrap {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .dialog {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .card {
        position: relative;
        z-index: 1;
        text-align: center;
        background: #fff;
    }
    .close {
        position: absolute;
        width: 56rpx;
        height: 56rpx;
        image {
            width: 100%;
            height: 100%;
        }
    }
}

//临时会员领取聚合礼包提醒弹窗
.temporary-vip-popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    //弹窗内容部分
    .popup-content {
        position: relative;
        box-sizing: border-box;
        padding-top: 113rpx;
        width: 576rpx;
        height: 546rpx;
    }
    //内容部分
    .content {
        width: 100%;
        height: 100%;
        background: rgba(247, 247, 248, 1);
        border-radius: 24rpx;
        overflow: hidden;
        .head {
            position: relative;
            top: -2rpx;
            width: 100%;
            height: 208rpx;
            image {
                width: 100%;
                height: 100%;
            }
        }
        .text-warp {
            box-sizing: border-box;
            padding: 0 40rpx;
            position: absolute;
            top: 224rpx;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 496rpx;
            height: 174rpx;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 2rpx 24rpx -8rpx rgba(217, 17, 94, 0.07);
            border-radius: 14rpx;
            .title {
                padding-top: 26rpx;
                font-size: 32rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                height: 44rpx;
                line-height: 44rpx;
                text-align: center;
            }
            .des {
                font-size: 22rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                line-height: 34rpx;
                text-align: center;
            }
        }
        .btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40rpx;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0 20rpx;
            width: 496rpx;
            height: 88rpx;
            background: rgba(253, 226, 61, 1);
            border-radius: 44rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            .ios-text {
                font-size: 34rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(68, 37, 9, 1);
            }
            .and {
                font-size: 34rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
            }
            .and-red {
                color: rgba(255, 6, 80, 1);
            }
            .and-text {
                color: rgba(68, 37, 9, 1);
            }
            .and-icon {
                margin-left: 6rpx;
                padding: 0 10rpx;
                height: 32rpx;
                line-height: 32rpx;
                background: linear-gradient(90deg, rgba(255, 37, 127, 1) 0%, rgba(255, 0, 71, 1) 100%);
                border-radius: 16rpx 12rpx 16rpx 0;
                font-size: 20rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    //关闭按钮
    .close {
        position: absolute;
        top: 16rpx;
        right: 0;
        width: 57rpx;
        height: 57rpx;
        z-index: 9;
        image {
            width: 100%;
            height: 100%;
        }
    }
    //头部kkb背景图
    .top-kkb-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 424rpx;
        height: 313rpx;
        image {
            margin: 46rpx;
            width: 276rpx;
            height: 175rpx;
        }
    }
}

.fix-bottom {
    width: 100%;
    height: 108rpx;
    position: fixed;
    bottom: 80rpx;
    left: 0;
    z-index: 10;
    // padding-bottom: constant(safe-area-inset-bottom);
    // padding-bottom: env(safe-area-inset-bottom);
    // .payBtn {
    //     width: 702rpx;
    //     margin: auto;
    //     height: 108rpx;
    //     background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 0.01%, rgba(255, 255, 255, 0) 100%), #775BFA;
    //     border-radius: 52rpx;
    //     display: flex;
    //     padding: 12rpx;
    //     box-sizing: border-box;
    // }
    // .left {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding-left: 36rpx;
    //     box-sizing: border-box;
    //     flex: 1;
    //     text-align: left;
    //     .price {
    //         height: 48rpx;
    //         display: flex;
    //         align-items: center;
    //         vertical-align: bottom;
    //         .unit {
    //             font-size: 24rpx;
    //             font-weight: bold;
    //             color:#F9F9F9;
    //             line-height: 30rpx;
    //         }
    //         .num {
    //             font-size: 40rpx;
    //             font-weight: bold;
    //             color: #fff;
    //             line-height: 48rpx;
    //             font-family: 'PingFang SC';
    //         }
    //     }
    //     .desc {
    //         color: #F9F9F9;
    //         font-size: 22rpx;
    //         line-height: 28rpx;
    //         text-align: center;
    //         text-align: left;
    //     }
    // }
    // .right {
    //     width: 212rpx;
    //     height: 84rpx;
    //     background: #FFE120;
    //     border-radius: 52rpx;
    //     color: #222222;
    //     font-size: 32rpx;
    //     line-height: 84rpx;
    //     font-weight: bold;
    //     text-align: center;
    // }
}
