.ad {
    &-control {
        width: 100%;
        overflow: hidden;
        .video {
            background: #fff;
            padding: 20rpx 24rpx;
            width: 702rpx;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .banner,
        .custom {
            padding: 0 16rpx;
        }
    }
    // 自定义漫画页样式
    &-comic_center {
        width: 750rpx;
        .custom {
            padding: 20rpx 24rpx;
        }
    }
    //发现页广告位
    &-find_top {
        margin-bottom: 24rpx;
        .banner,
        .custom {
            padding: 16rpx 24rpx 0;
        }
    }
    // 推荐页
    &-feed_4,
    &-feed_8 {
        margin-bottom: 16rpx;
        background: #fff;
        padding: 20rpx 24rpx;
        width: 702rpx;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
