.kk-mounting {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .mounting {
        display: none;
        width: 100%;
        height: auto;
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 9999;
    }
    .mounting-fixed {
        opacity: 1;
        display: block;
    }
    .anamorphism {
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
    }

    .stance {
        width: 100%;
    }
}
