.container {
    min-height: 100vh;
    background: #00b362;
    padding-bottom: 90rpx;
    width: 750rpx;
    overflow: hidden;
}

.common-login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.2;
    z-index: 3;
}

.banner {
    position: relative;
    &-bg {
        image {
            display: block;
            width: 100%;
        }
    }
    &-title {
        position: absolute;
        top: 120rpx;
        left: 50%;
        z-index: 8;
        margin-left: -265rpx;
        width: 530rpx;
        height: 92rpx;
        image {
            display: block;
            width: 530rpx;
            height: 92rpx;
        }
    }
    &-bridge {
        position: absolute;
        top: 326rpx;
        left: 0;
        z-index: 5;
        width: 750rpx;
        height: 200rpx;
        image {
            display: block;
            width: 100%;
        }
    }
    &-ant {
        position: absolute;
        top: 480rpx;
        left: 0;
        z-index: 3;
        width: 750rpx;
        height: 200rpx;
        image {
            display: block;
            width: 100%;
        }
        .box-1 {
            width: 300rpx;
            height: 50rpx;
            position: absolute;
            left: 48rpx;
            top: 0;
        }
        .male {
            width: 134rpx;
            height: 190rpx;
            position: absolute;
            top: 0;
            left: 0%;
            transition: all 0.3s;
        }
        .image-1 {
            opacity: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.15s;
        }
        .image-2 {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.15s;
        }
    }
    &-record {
        position: absolute;
        right: 0;
        top: 192rpx;
        z-index: 10;
        width: 44rpx;
        height: 130rpx;
        background: #00d475;
        border-radius: 20rpx 0px 0px 20rpx;
        .record-box {
            width: 100%;
            height: 130rpx;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text {
                color: #fff;
                font-size: 22rpx;
                font-family: PingFang SC;
                font-weight: 500;
                height: 24rpx;
                line-height: 24rpx;
            }
        }
    }
}

.rule {
    width: 696rpx;
    margin: 68rpx auto 0;
    &-info {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 30rpx;
        box-sizing: border-box;
        image {
            width: 100%;
        }
    }
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    &-info {
        width: 390rpx;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20rpx;
        padding: 48rpx 40rpx;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-title {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 500;
        font-size: 36rpx;
        line-height: 42rpx;
        text-align: center;
        color: #222222;
        margin-bottom: 16rpx;
    }
    &-subtitle {
        font-family: PingFang SC;
        font-style: normal;
        text-align: center;
        margin-bottom: 16rpx;
        font-size: 30rpx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #4c494a;
    }
    &-icon {
        height: 146rpx;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        image {
            width: 146rpx;
        }
    }
    &-btn {
        position: relative;
        height: 88rpx;
        width: 100%;
        margin-top: 32rpx;
        .text {
            background: #ffe120;
            border-radius: 44rpx;
            height: 88rpx;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: PingFang SC;
            font-style: normal;
            font-weight: 500;
            font-size: 32rpx;
            color: #222222;
        }
    }
    &-close {
        width: 100rpx;
        height: 100rpx;
        position: absolute;
        left: 50%;
        bottom: -145rpx;
        margin-left: -50rpx;
        image {
            width: 100%;
            height: 100%;
        }
    }
    .lottery-login {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.2;
    }
}
