page {
    height: 100%;
}
button {
    border-radius: 0;
    background: #fff;
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}
button::after {
    border: 0;
}
.navigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: transform 0.3s;
}
.comic-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}
.comic-wrap {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.section {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-bottom: 0rpx;
}
.bottom-tools {
    height: 190rpx;
    transition: transform 0.3s;
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1rpx 0 0 #e6e6e6;
    background: #fff;
    &.directoryShow {
        height: 98rpx;
    }
}
@keyframes backHome {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 关注引导 */
.guide {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 600rpx;
    height: 96rpx;
    text-align: center;
    left: 75rpx;
    background: #fff;
    border-radius: 8rpx;
    font-size: 28rpx;
    transition: all 0.5s;
    box-shadow: 0 0 4rpx 2rpx rgba(0, 0, 0, 0.3);
    .txt {
        width: 100%;
        line-height: 96rpx;
        color: #333;
    }
    .btn {
        width: 160rpx;
        min-width: 160rpx;
        line-height: 96rpx;
        color: #fff;
        background: #f9d410;
        border-top-right-radius: 8rpx;
        border-bottom-right-radius: 8rpx;
    }
}
.styleClass {
    .weui-dialog__bd {
        text-align: center;
    }
}
