.kk-video-item {
    .cover {
        position: relative;
        width: 100%;
        border-radius: 12rpx;
        overflow: hidden;

        .cover-image {
            width: 100%;
            height: 100%;
            border-radius: 12rpx;
        }

        .play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 56rpx;
            height: 56rpx;
        }

        .labels {
            position: absolute;
            left: 0;
            top: 12rpx;
            width: 100%;
            height: 32rpx;
            padding: 0 6rpx;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            box-sizing: border-box;
            overflow: hidden;

            text {
                height: 32rpx;
                line-height: 32rpx;
                margin: 6rpx;
                padding: 0rpx 8rpx;
                border-radius: 6rpx;
                color: #FFFFFF;
                font-size: 20rpx;
                font-weight: 500;
                background: rgba(0,0,0,0.5);
            }
        }
    }

    .item-bottom-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text-wrap {
        flex: 1;
        margin-top: 12rpx;
        min-width: 0;

        .title {
            height: 34rpx;
            font-size: 28rpx;
            color: #222222;
            font-weight: 500;
        }
        .desc {
            margin-top: 8rpx;
            height: 30rpx;
            font-size: 24rpx;
            color: #999999;
        }
    }

    .button {
        margin-left: 10rpx;
        width: 108rpx;
        height: 54rpx;
        line-height: 54rpx;
        border: 1rpx solid #CCCCCC;
        border-radius: 28rpx;
        color: #222222;
        text-align: center;
        font-size: 26rpx;
        font-weight: 500;
    }

    .disable {
        background: #F5F5F5;
        color: #CCCCCC;
        border: 1rpx solid #F5F5F5;
    }

    .ellipsis{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}