//充值kkb成功购买弹窗  模板 S
.popup-buykkb-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    display: flex;
    justify-content: center;
    .succ-content {
        position: absolute;
        left: 50%;
        top: 50%;
        // margin-left:-287rpx;
        width: 574rpx;
        transform: translate(-50%, -50%);
        margin-top: -50rpx;
        // height: 730rpx;
        padding-bottom: 48rpx;
        background: #fff;
        border-radius: 24rpx;
    }
    .succ-icon {
        width: 430rpx;
        height: 110rpx;
        position: absolute;
        left: 50%;
        top: -55rpx;
        margin-left: -215rpx;
        z-index: 5;
        image {
            width: 100%;
            height: 100%;
        }
    }
    .succ-bg {
        width: 100%;
        height: 200rpx;
        background: linear-gradient(178.74deg, #ffb889 1.09%, rgba(255, 219, 149, 0) 98.96%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 24rpx;
    }
    .succ-pic {
        margin-top: 32rpx;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        image {
            width: 240rpx;
            height: 320rpx;
        }
    }
    .succ-title,
    .succ-subtitle {
        position: relative;
        z-index: 3;
    }
    .succ-title {
        padding-top: 120rpx;
        display: flex;
        justify-content: center;
        text {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 40rpx;
            line-height: 40rpx;
            text-align: center;
            color: #ff751a;
        }
    }
    .succ-subtitle {
        margin-top: 16rpx;
        display: flex;
        justify-content: center;
        text {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 400;
            font-size: 30rpx;
            line-height: 36rpx;
            text-align: center;
            color: #666666;
        }
    }
    .succ-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 494rpx;
        height: 88rpx;
        background: #ffe120;
        border-radius: 44rpx;
        margin: 32rpx auto 0;
        text {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 32rpx;
            line-height: 40rpx;
            text-align: center;
            color: #222222;
        }
    }
    .succ-close {
        width: 64rpx;
        position: absolute;
        left: 50%;
        margin-left: -32rpx;
        bottom: -112rpx;
        z-index: 5;
        image {
            width: 64rpx;
            height: 64rpx;
        }
    }
}
