.bubble {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    right: 10px;
    top: 4rpx;
    color: #fff;
    z-index: 9999;
    // transition: all 0.5s;
    &-paper {
        background: rgba(0, 0, 0, 0.8);
        border-radius: 16rpx;
        padding: 20rpx 32rpx;
        position: relative;
        display: flex;
        align-items: center;
        .content {
            flex: 1;
        }
    }
    &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .title {
            font-size: 24rpx;
            font-weight: bold;
        }
        .tip {
            font-size: 24rpx;
            opacity: 0.6;
            margin-top: 2rpx;
        }
        .icon {
            position: relative;
            right: 110rpx;
            width: 27rpx;
            height: 12rpx;
            image {
                width: 100%;
                height: 100%;
            }
        }
    }
    &-close {
        width: 36rpx;
        height: 36rpx;
        margin-left: 12rpx;
        image {
            width: 100%;
            height: 100%;
        }
    }
}
.normal-size {
    font-size: 26rpx;
    font-weight: 400;
    .yellow {
        color: #fde23d;
    }
}
