.kk-book-banner {
    width: 100%;
    height: 136rpx;
    background: #ffffff;
    padding-top: 16rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    .banner-view {
        width: 686rpx;
        height: 120rpx;
    }
    .banner-swiper,
    .banner-item {
        width: 100%;
        height: 100%;
    }
    .block-view {
        width: 100%;
        height: 120rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .contain {
        width: 99%;
        border-radius: 100rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        &.bg {
            height: 88rpx;
            background: rgba(255, 163, 0, 0.1);
        }
        &.img-h {
            height: 120rpx;
        }
        .banner {
            width: 100%;
            height: 100%;
        }
        .img-place {
            height: 100%;
            width: 102rpx;
        }
        .icon {
            width: 102rpx;
            height: 104rpx;
            position: absolute;
            top: 0;
            left: 0;
            margin-right: 8rpx;
        }
        .banner-img {
            width: 686rpx;
            height: 100%;
            border-radius: 100rpx;
        }
        .icon-img {
            width: 102rpx;
            height: 104rpx;
        }
        .txt {
            font-size: 26rpx;
            line-height: 36rpx;
            color: #d0ac63;
            width: 414rpx;
            max-width: 414rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .btn {
            width: 128rpx;
            height: 48rpx;
            background: #d0ac63;
            border-radius: 100rpx;
            line-height: 48rpx;
            text-align: center;
            margin-right: 32rpx;
            font-weight: 500;
            font-size: 22rpx;
            color: #ffffff;
        }
    }
}
