.task-module {
    padding-top: 32rpx;
    padding-bottom: 32rpx;

    > .title {
        margin: 0 auto;
        width: 222rpx;
        height: 48rpx;
    }

    .content {
        margin: 0 auto;
        padding: 14rpx 42rpx 40rpx;
        width: 694rpx;
        border: 2rpx solid #146cff;
        box-sizing: border-box;

        .task-item {
            margin-top: 24rpx;
            padding: 0 20rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 74rpx;
            background-color: #09398b;
            border: 2rpx solid #146cff;

            .left {
                display: flex;
                align-items: center;
                max-width: 450rpx;

                .title {
                    margin-right: 42rpx;
                    font-size: 32rpx;
                    font-family: Alibaba PuHuiTi;
                    font-weight: bold;
                    color: #ffffff;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .number {
                    margin-right: 10rpx;
                    font-size: 30rpx;
                    font-family: Alibaba PuHuiTi;
                    font-weight: bold;
                    color: #ff973a;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .fire {
                    width: 28rpx;
                    height: 40rpx;
                }
            }

            .button {
                width: 98rpx;
                height: 44rpx;
                line-height: 44rpx;
                background-color: #146cff;
                text-align: center;
                font-size: 24rpx;
                font-family: Alibaba PuHuiTi;
                font-weight: bold;
                color: #ffffff;
                border-radius: 0;
                margin: 0;
            }

            .disabled {
                color: #ffffff;
                background-color: #7e7e7e;
            }
        }
    }
}
