.pay-head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    // height: 438rpx;
    // top: 1px;
    .image {
        width: 100%;
        // height: 100%;
    }
    .text {
        position: absolute;
        z-index: 1;
        left: 98rpx;
        // top: 181rpx;
        color: #fff;
        text-align: left;
    }
    // 会员限免
    .infos {
        width: 300rpx;
        height: 140rpx;
        left: 64rpx;
        // top: 153rpx;
        position: absolute;
        padding-left: 30rpx;
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-y: scroll;
    }
    .tips {
        width: 718rpx;
        height: 130rpx;
        background: linear-gradient(90deg, rgba(6, 0, 27, 1) 0%, rgba(6, 0, 27, 0.6) 100%);
        border-radius: 20rpx;
        display: flex;
        flex-direction: column;
        padding-left: 32rpx;
        justify-content: center;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 16rpx;
        image {
            width: 360rpx;
            height: 360rpx;
            position: absolute;
            bottom: -16rpx;
            right: 0;
        }
    }
}
