//充值礼包
.pay-gift {
    background-color: #fff;
    .relativeBox {
        position: relative;
        width: 686rpx;
        height: 88rpx;
        .bubble {
            position: absolute;
            top: -8rpx;
            right: 0rpx;
            padding: 0 12rpx;
            height: 34rpx;
            font-size: 18rpx;
            font-weight: 500;
            border-radius: 15rpx 15rpx 15rpx 4rpx;
            text-align: center;
            color: rgba(255, 255, 255, 1);
            background: linear-gradient(90deg, rgba(255, 37, 127, 1) 0%, rgba(255, 0, 71, 1) 100%);
            line-height: 34rpx;
        }
    }
    .pay-gift-title {
        font-size: 44rpx;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: 500;
        text-align: center;
        color: #333;
        text {
            color: #5b29f4;
        }
    }
    .pay-gift-subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8rpx;
        .text-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 16rpx;
            width: auto;
            height: 40rpx;
            border-radius: 8rpx;
            background: #fdeb3d;
            transform: skew(-10deg);
            .text {
                height: 20rpx;
                font-size: 20rpx;
                font-family: PingFangSC-Medium, 'PingFang SC';
                font-weight: 500;
                text-align: center;
                color: #442509;
                line-height: 20rpx;
                transform: skew(10deg);
            }
        }
    }
    .pay-gift-content {
        padding: 20rpx 40rpx;
        .pay-gift-list-box {
            padding: 24rpx;
            width: 100%;
            height: 368rpx;
            border-radius: 16rpx;
            background: #f9f6ff;
            box-sizing: border-box;
            .pay-gift-list-item {
                position: relative;
                display: flex;
                padding: 16rpx;
                width: 100%;
                height: 152rpx;
                border-radius: 8rpx;
                background: #fff;
                flex-direction: row;
                box-sizing: border-box;
                &:first-child {
                    margin-bottom: 16rpx;
                }
                .right-content {
                    overflow: hidden;
                    flex: 1;
                }
                .list-icon {
                    position: relative;
                    overflow: hidden;
                    margin-right: 16rpx;
                    width: 120rpx;
                    height: 120rpx;
                    border-radius: 8rpx;
                    .award-image {
                        display: block;
                        width: 120rpx;
                        height: 120rpx;
                    }
                    // .label{
                    //     display:block;
                    //     width:80rpx;
                    //     height:28rpx;
                    //     position: absolute;
                    //     left: 0;
                    //     top: 0;
                    //     z-index: 10;
                    // }
                    .label-text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 11;
                        overflow: hidden;
                        padding-right: 6rpx;
                        padding-left: 5rpx;
                        max-width: 90%;
                        height: 28rpx;
                        font-size: 18rpx;
                        font-family: PingFangSC-Medium, 'PingFang SC';
                        font-weight: 500;
                        text-align: center;
                        white-space: nowrap;
                        color: #fff;
                        background-color: #5b29f4;
                        box-sizing: border-box;
                        border-top-left-radius: 8rpx;
                        border-top-right-radius: 14rpx;
                        border-bottom-right-radius: 14rpx;
                        line-height: 28rpx;
                    }
                }
                .top-title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 12rpx;
                    padding-top: 12rpx;
                    .title {
                        overflow: hidden;
                        font-size: 40rpx;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #333;
                        flex: 1;
                    }
                    .get-gift-btn {
                        width: 120rpx;
                        height: 40rpx;
                        font-size: 22rpx;
                        border-radius: 40rpx;
                        text-align: center;
                        color: #666;
                        background: #ffe23d;
                        line-height: 40rpx;
                        &.disable {
                            color: #ccc;
                            background: #f9f6ff;
                        }
                        &.purple {
                            color: #7121ff;
                            background: #f9f6ff;
                        }
                    }
                }
                .bottom-content {
                    position: relative;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    .gift-descript {
                        display: flex;
                        align-items: center;
                        margin: 0 5rpx 0 0;
                        padding: 0 10rpx;
                        height: 34rpx;
                        font-size: 22rpx;
                        color: #ff751a;
                        background: rgba(255, 117, 26, 0.1);
                        line-height: 34rpx;
                        text {
                            font-weight: bolder;
                        }
                    }
                    .help-icon-box {
                        padding-top: 5rpx;
                        padding-left: 10rpx;
                        width: 34rpx;
                        height: 34rpx;
                        box-sizing: border-box;
                        .help-icon {
                            display: inline-block;
                            width: 22rpx;
                            height: 22rpx;
                        }
                    }
                    .grey-bg {
                        margin: 0 5rpx;
                        padding: 0 10rpx;
                        height: 34rpx;
                        font-size: 22rpx;
                        color: #666;
                        background: rgba(249, 246, 255, 1);
                        line-height: 34rpx;
                    }
                }
                .comic-list-box {
                    position: absolute;
                    bottom: 60rpx;
                    left: 150rpx;
                    overflow: hidden;
                    padding: 24rpx 0rpx 60rpx 16rpx;
                    width: 223rpx;
                    max-height: 333rpx;
                    border-radius: 8rpx;
                    background: rgba(0, 0, 0, 0.7);
                    box-sizing: border-box;
                    .comic-list {
                        overflow: auto;
                        max-height: 235rpx;
                        view {
                            overflow: hidden;
                            padding-right: 16rpx;
                            height: 28rpx;
                            font-size: 20rpx;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #fff;
                            line-height: 28rpx;
                        }
                    }
                    .bottom-control {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 16rpx;
                        width: 223rpx;
                        height: 55rpx;
                        background: #333;
                        box-sizing: border-box;
                        text {
                            font-size: 20rpx;
                            color: #fff;
                        }
                        .closeBox {
                            padding: 17rpx 0 17rpx 34rpx;
                            width: 55rpx;
                            height: 55rpx;
                            box-sizing: border-box;
                            image {
                                width: 20rpx;
                                height: 20rpx;
                                pointer-events: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    //大按钮通用样式
    .btn-pay {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 686rpx;
        height: 88rpx;
        font-size: 30rpx;
        border-radius: 44rpx;
        line-height: 88rpx;
        &.ios-not-btn {
            color: #cfc6e9;
            background: #f9f6ff;
        }
    }
    //确认支付按钮
    .purchase-btn {
        color: #fff;
        background: #ff751a;
    }

    //购买支付或者充值按钮
    .and-no-ad-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32rpx;
        width: 100%;
    }

    .limit-block {
        width: 100%;
        line-height: 20rpx;
        height: 40rpx;
    }
    .limit-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 80rpx;
        box-shadow: 0 -2rpx 8rpx 0 rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        .topic-btn {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            margin-right: 12rpx;
            width: 110rpx;
            height: 80rpx;
            font-size: 24rpx;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            text-align: center;
            color: rgba(91, 41, 244, 1);
            background: rgba(252, 251, 255, 1);
            line-height: 80rpx;
        }
        .limit-kkb-btn {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text {
                font-size: 24rpx;
                font-family: PingFangSC-Medium, 'PingFang SC';
                font-weight: 500;
                color: rgba(93, 4, 181, 1);
                line-height: 30rpx;
            }
            .arrow {
                display: inline-block;
                margin-top: 8rpx;
                margin-left: 6rpx;
                width: 10rpx;
                height: 17.5rpx;
            }
        }
    }

    button,
    .invest {
        position: relative;
    }
    .origin-login {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100% !important;
        height: 100%;
        background: none !important;
    }
}

.vip-pay-gift {
    .purchase-btn {
        color: #fff;
        background: linear-gradient(135deg, rgba(209, 0, 214, 1) 0%, rgba(108, 1, 207, 1) 100%);
    }
}
