.kk-directory {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
    width: 0;
    width: 100%;
    height: 0;
    height: 100%;
    animation: fade-in ease-in-out 0.6s 1 alternate forwards;
    .directory-wrap {
        position: absolute;
        bottom: -100%;
        left: 0;
        z-index: 55;
        width: 100%;
        transition: 0.4s ease;
    }
}
.directory-body {
    position: relative;
    z-index: 77;
    border-radius: 24rpx 24rpx 0 0;
    background: #fff;
    .top-txt {
        padding: 38rpx 24rpx 0rpx;
        width: auto;
    }
    .body-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 70rpx;
        box-sizing: border-box;
        .left {
            overflow: hidden;
            flex: 1;
            height: 56rpx;
            .tabs {
                width: 100%;
                height: 76rpx;
                white-space: nowrap;
            }
            .single {
                position: relative;
                display: inline-block;
                justify-content: center;
                margin-right: 32rpx;
                height: 56rpx;
                vertical-align: top;
                .name {
                    display: flex;
                    align-items: center;
                    height: 44rpx;
                    .txt {
                        font-size: 34rpx;
                        font-weight: 500;
                        color: #999;
                    }
                    .active-txt {
                        color: #222;
                    }
                }
                .active-sign {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 32rpx;
                    height: 6rpx;
                    border-radius: 4rpx;
                    background-color: #ffe120;
                    transform: translateX(-50%);
                }
            }
        }
        .shadow {
            position: absolute;
            top: 28rpx;
            right: 130rpx;
            z-index: 10;
            width: 46rpx;
            height: 64rpx;
            background: linear-gradient(270deg, #fff 31.25%, rgba(255, 255, 255, 0) 100%);
        }
        .sort {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 108rpx;
            height: 44rpx;
            .sort-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 76rpx;
                height: 44rpx;
                .sort-img {
                    width: 24rpx;
                    height: 24rpx;
                }
                .txt {
                    margin-left: 4rpx;
                    font-size: 24rpx;
                    color: #666;
                }
            }
        }
    }
    .sub-title {
        position: relative;
        height: 72rpx;
        .txt {
            font-size: 28rpx;
            line-height: 34rpx;
            color: #999;
        }
        .buy {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130rpx;
            height: 48rpx;
            border-radius: 200rpx;
            background: #ffe120;
            .txt {
                font-size: 22rpx;
                font-weight: 500;
                color: #222;
            }
        }
    }
    .body-content {
        width: 100%;
        height: 850rpx;
    }
    .suspend {
        position: absolute;
        top: 490rpx;
        right: 0;
        z-index: 10;
        width: 136rpx;
        .img {
            width: 100%;
            height: 136rpx;
        }
    }
}
.scroll-wrap {
    position: relative;
    height: 100%;
    .upperLoading {
        position: absolute;
        top: 0;
    }
    .comic {
        position: relative;
        display: flex;
        padding: 24rpx 0 24rpx 32rpx;
        width: 100%;
        height: 144rpx;
        box-sizing: border-box;
    }
    .pic {
        position: relative;
        overflow: hidden;
        border-radius: 8rpx;
        .forbidden {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }
        .locked {
            image {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -19rpx 0 0 -19rpx;
                width: 38rpx;
                height: 38rpx;
            }
        }
        .unlock {
            background: none;
            image {
                position: absolute;
                top: 0;
                left: 0;
                width: 70rpx;
                height: 48rpx;
            }
        }
    }
    .txt {
        display: flex;
        justify-content: space-between;
        padding-left: 32rpx;
        flex-direction: column;
        .descLine {
            display: flex;
            align-items: center;
        }
        .label {
            margin-right: 12rpx;
            height: 36rpx;
            font-size: 20rpx;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: bold;
            border-radius: 8rpx;
            box-sizing: border-box;
        }
        .title {
            display: inline-block;
            overflow: hidden;
            max-width: 470rpx;
            font-size: 32rpx;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333;
            line-height: 40rpx;
            &.before {
                max-width: 360rpx;
            }
            &.readed {
                color: #999;
            }
        }
        .infos {
            .time {
                font-size: 24rpx;
                color: rgba(153, 153, 153, 1);
                line-height: 30rpx;
            }
        }
    }
    .clock {
        position: absolute;
        top: 32rpx;
        right: 0;
        z-index: 1;
        image {
            width: 50rpx;
            height: 44rpx;
        }
    }
}

.show-kk-directory {
    width: 100%;
    height: 100%;
    animation: fade-in ease-in-out 0.6s 1 alternate forwards;
    .directory-wrap {
        bottom: 0;
        transition: 0.4s ease;
    }
}
.hide-kk-directory {
    height: 0;
}
@keyframes fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.no-data {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-top: 180rpx;
    width: 100%;
    flex: 1;
    flex-direction: column;
    .cover {
        width: 450rpx;
        height: 236rpx;
    }
    .tips {
        overflow: hidden;
        padding: 0 20rpx;
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        text {
            font-size: 28rpx;
            line-height: 34rpx;
            color: #999;
        }
    }
}
