//问题反馈 S
.kk-feedback {
    height: auto;

    //返回按钮 S
    .top-navigator {
        //box-sizing: border-box;
        position: fixed;
        top: 0rpx;
        left: 22rpx;
        width: 66rpx;
        height: 48rpx;
        z-index: 9999;
        padding: 9rpx 10rpx;
        display: flex;
        align-items: center;
    }
    //定位后站位符
    .top-header {
        width: 100%;
        height: 66rpx;
    }
    //返回按钮 E

    //头部 S
    .header-text {
        //问题标题 S
        .problem-title {
            box-sizing: border-box;
            height: 254rpx;
            font-size: 48rpx;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            line-height: 68rpx;
            text-align: center;
            padding: 102rpx 0 86rpx;
        }

        //问题描述标题
        .explain-title {
            padding: 0 32rpx;
            font-size: 48rpx;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            padding: 0 32rpx;
            line-height: 200rpx;
        }
    }
    //头部 E

    //问题列表
    .problem {
        padding: 42rpx 64rpx;
        .item {
            box-sizing: border-box;
            height: 112rpx;
            width: 100%;
            border-top: 2rpx solid #e7e8e9;
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 1);
        }
        .item .text {
            font-size: 36rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
        }
        .item .station {
            flex: 1;
        }
        .item .btn {
            width: 32rpx;
            height: 32rpx;
        }
    }

    //问题描述说明
    .explain {
        padding: 0 32rpx;
        padding-top: 30rpx;
        .item {
            .text {
                font-size: 32rpx;
                font-weight: 400;
                color: rgba(48, 48, 48, 1);
                line-height: 54rpx;
                padding-bottom: 24rpx;
            }
        }
    }

    // 跳转到微信小程序官方反馈页面
    .wx-feedback-wrap {
        position: fixed;
        left: 0;
        bottom: 24rpx;
        height: 88rpx;
        width: 100%;
        box-sizing: border-box;
        padding: 0 16rpx;
        z-index: 2;
        .button {
            width: 100%;
            height: 88rpx;
            text-align: center;
            line-height: 88rpx;
            background: rgba(253, 226, 61, 1);
            border-radius: 100rpx;
            font-size: 32rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(68, 37, 9, 1);
        }
    }
    .wx-feedback-wrap-x {
        bottom: 68rpx;
    }
}
//问题反馈 E
