@import "../../common/_color.scss";
page {
    height: 100%;
}
.wrap {
    background: #f7f9fa;
    min-height: 100%;
}

.container {
    color: $color-brown;
}

.benefits-list {
    padding-top: 24rpx;
}

.benefits-top {
    position: -webkit-sticky;
    position: sticky;
    // position: relative;
    top: 0px;
    z-index: 2000;
    width: 100%;
}

.benefits-search {
    position: relative;
    z-index: 89;
    background: #fff;
    &-active {
        background: none;
    }
}
