.v-exclusive {
    width: 100%;
    padding: 0 24rpx;
    box-sizing: border-box;
    .title_info {
        display: flex;
        height: 88rpx;
        align-items: center;
        .tit {
            font-size: 30rpx;
            font-weight: bold;
            color: #222222;
            margin-right: 12rpx;
        }
        .sub_tit {
            color: #775BFA;
            font-size: 24rpx;
        }
    }
    .intro {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16rpx;
        .temp {
            width: 342rpx;
            height: 120rpx;
            background: #F7F7F7;
            border-radius: 16rpx;
            position: relative;
            overflow: hidden;
            .bg-1 {
                position: absolute;
                width: 84rpx;
                height: 94rpx;
                bottom: -10rpx;
                right: -10rpx;
            }
            .bg-2 {
                position: absolute;
                width: 114rpx;
                height: 90rpx;
                right: -6rpx;
                bottom: -6rpx;
            }
        }
        .desc {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            padding-left: 24rpx;
            padding-top: 26rpx;
            box-sizing: border-box;
            flex-direction: column;
        }
        .m-tit {
            height: 38rpx;
            display: flex;
            align-items: flex-end;
            margin-bottom: 4rpx;
            text {
                font-size: 30rpx;
                font-weight: bold;
                color: #222222;
                line-height: 36rpx;
            }
            .color {
                font-size: 46rpx;
                font-weight: 700;
                margin-top: -6rpx;
                margin: 0 4rpx;
                line-height: 40rpx;
                color: #775BFA;
            }
        }
        .s-tit {
            font-size: 24rpx;
            color: #999999;
        }
        .color {
            color: #775BFA;
        }
    }
}
