.video-pay {
    &__top {
        height: 98rpx;
        display: flex;
        align-items: center;
        margin: 0 24rpx;
        &--title {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 36rpx;
            color: #222222;
            width: 240rpx;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &--subtitle {
            flex: 1;
            min-width: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 16rpx;
            text {
                font-family: "PingFang SC";
                font-style: normal;
                font-weight: 400;
                font-size: 26rpx;
                text-align: right;
                color: #999999;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            image {
                width: 24rpx;
                height: 24rpx;
            }
        }
    }
    &__box {
        position: relative;
        overflow: hidden;
        // height: 384rpx;
    }
    &__nav {
        position: absolute;
        bottom: 0rpx;
        left: 50%;
        background: #f7f7f7;
        border-radius: 24rpx;
        width: 90rpx;
        height: 8rpx;
        margin-left: -45rpx;
        overflow: hidden;
        &--active {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20%;
            background: #ffe120;
            transition: all 0.2s;
        }
    }
    &__scroll {
        height: 768rpx;
        overflow: hidden;
    }
    &__list {
        padding-left: 24rpx;
        display: flex;
        flex-wrap: wrap;
        height: 768rpx;
        overflow: hidden;
        padding-bottom: 20rpx;
    }
    &__item {
        overflow: hidden;
        width: 200rpx;
        height: 352rpx;
        margin-right: 16rpx;
        margin-bottom: 32rpx;
        flex-shrink: 0;
        .item-info {
            width: 200rpx;
            height: 268rpx;
            position: relative;
            border-radius: 12rpx;
            overflow: hidden;
            background: #eee;
        }
        .item-icon-text {
            background: linear-gradient(264.04deg, #6036ee -17.86%, #826dff 105.08%);
            border-radius: 6rpx;
            padding: 0 8rpx;
            height: 32rpx;
            position: absolute;
            right: 12rpx;
            top: 12rpx;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 20rpx;
            color: #ffffff;
        }
        .item-icon-kkb {
            background: linear-gradient(0deg, #ff782a, #ff782a), #ffe120;
            border-radius: 6rpx;
            padding: 0 8rpx;
            height: 32rpx;
            position: absolute;
            right: 12rpx;
            top: 12rpx;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 20rpx;
            color: #ffffff;
        }
        .item-icon-img {
            height: 32rpx;
            position: absolute;
            right: 12rpx;
            top: 12rpx;
            z-index: 5;
            width: 50rpx;
        }
        .item-icon-play {
            width: 56rpx;
            height: 56rpx;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 5;
            margin: -28rpx 0 0 -28rpx;
        }
        .item-title {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 500;
            font-size: 28rpx;
            display: flex;
            align-items: center;
            color: #222222;
            margin-top: 12rpx;
            height: 34rpx;
            text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .item-subtitle {
            margin-top: 8rpx;
            height: 30rpx;
            display: flex;
            align-items: center;
            white-space: nowrap;
            text {
                font-family: "PingFang SC";
                font-style: normal;
                font-weight: 400;
                font-size: 24rpx;
                color: #999999;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
