@import "../../../common/_color.scss";

//vip特权专题列表 S
.vip-topic-list {
    width: 100%;
    height: auto;

    //专题列表 S
    .topic-list {
        width: 100%;
        .item {
            display: flex;
            //align-items: center;
            justify-items: center;
            //justify-content: center;
            height: 204rpx;
            border-bottom: 1px solid rgba(230, 230, 230, 1);
        }
        //左侧卡片 S
        .item .left {
            position: relative;
            width: 324rpx;
            .icon {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                .image {
                    display: none;
                    // max-width: 78rpx;
                    // max-height:90rpx;
                    max-width: 100rpx;
                    max-height: 100rpx;
                }
                .max-img {
                    // width: 324rpx;
                    // height:203rpx;
                    max-width: 324rpx;
                    max-height: 203rpx;
                }
            }
            .bottom-text {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;
                box-sizing: border-box;
                padding: 8rpx 0 8rpx 12rpx;
                width: 180rpx;
                font-size: 22rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                //line-height:36rpx;
                text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.24); //180deg,
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(236, 31, 31, 0.1) 100%);
            }
        }
        //左侧卡片 E

        //右侧描述 S
        .item .right {
            flex: 1;
            padding: 20rpx 31rpx 0;
            //标题和关注按钮
            .top {
                width: 100%;
                display: flex;
                .title {
                    width: 268rpx;
                    padding: 10rpx 0 6rpx;
                    font-size: 32rpx;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 32rpx;
                    overflow: hidden; //超出的文本隐藏
                    text-overflow: ellipsis; //溢出用省略号显示
                    white-space: nowrap; //溢出不换行
                }
                .max-title {
                    width: 364rpx;
                }
                .btn {
                    width: 96rpx;
                    height: 48rpx;
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            //标签
            .tag-list {
                padding-top: 14rpx;
                display: flex;
                .tag {
                    padding-right: 12rpx;
                    font-size: 24rpx;
                    font-family: PingFangSC-Light, PingFang SC;
                    font-weight: 300;
                    color: rgba(129, 133, 138, 1);
                    line-height: 24rpx;
                }
            }
            //点赞数和评论数
            .number-show {
                padding-top: 42rpx;
                display: flex;
                align-items: center;
                .praise,
                .comment {
                    width: 153rpx;
                    display: flex;
                    .iocn {
                        width: 32rpx;
                        height: 32rpx;
                    }
                    .text {
                        padding: 0 4rpx;
                        font-size: 24rpx;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: rgba(153, 153, 153, 1);
                        //line-height:24rpx;
                    }
                }
            }
        }
        //右侧描述 E
    }
    //专题列表 E

    //安卓常驻开通会员按钮 S
    .bugvip-btn {
        position: fixed;
        bottom: 20rpx;
        left: 16rpx;
        right: 16rpx;
        margin: 0 auto;
        width: 718rpx;
        height: 88rpx;
        line-height: 88rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        text-align: center;
        background: #ffe120;
        color: #442509;
        font-size: 32rpx;
        border-radius: 44rpx;
        z-index: 9;
    }
    .btn-stick {
        width: 100%;
        height: 92rpx;
    }
    //安卓常驻开通会员按钮 S
}
//vip特权专题列表 E
