.pay-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    .pay-content {
        position: absolute;
        bottom: 0;
        // overflow: hidden;
        z-index: 10;
        width: 100%;
        transition: transform 0.18s;
        transform: translateY(100%);
        &.anim {
            transform: translateY(0);
        }
        &.styl-cotain {
            border-radius: 24rpx 24rpx 0 0;
            background: #fff;
        }
    }

    //付费弹窗内容部分 S
    .pay-dialog-middle {
        position: relative;
        background: transparent;
        &.pay-dialog-middle-mini {
            padding-bottom: 30rpx;
        }
        &.bg {
            padding: 34rpx 0 0rpx;
            background: #fff;
        }
        &.nopad {
            padding: 0;
        }
        .popup-close {
            position: absolute;
            top: -38rpx;
            left: 4rpx;
            z-index: 1;
            padding: 20rpx;
            width: 32rpx;
            height: 32rpx;
            &.top {
                top: 0;
                left: -6rpx;
            }
            .close-icon {
                width: 100%;
                height: 100%;
            }
        }
        .operate-banner {
            padding-bottom: 48rpx;
            width: 100%;
            height: auto;
            background: #fff;
        }
        .pay-top {
            display: flex;
            overflow: hidden;
            margin: 0 auto;
            padding-left: 20rpx;
            width: 650rpx;
            height: 64rpx;
            font-size: 24rpx;
            border-radius: 4rpx;
            color: #442509;
            background: #fff4ef;
            line-height: 64rpx;
            .icon {
                margin: 17rpx 0;
                width: 30rpx;
                height: 30rpx;
                flex-shrink: 0;
            }
            .text {
                overflow: hidden;
                padding: 0 14rpx;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-grow: 1;
            }
            .btn {
                flex-shrink: 0;
                padding: 0 14rpx 0 24rpx;
                background: #ffe6db;
                image {
                    float: right;
                    margin: 20rpx 0 0 2rpx;
                    width: 24rpx;
                    height: 24rpx;
                }
            }
        }
        .iso-pay-top {
            margin: 0 auto 12rpx;
        }
    }

    //是vip 的情况 ui展示
    .pay-content .vip-pay-dialog-middle {
        //运营位的展示
        .pay-top {
            color: #320091;
            background: #f6ecff;
            .btn {
                color: #320091;
                background: #efddff;
            }
        }
    }
}

.cus-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 108rpx;
    font-size: 32rpx;
    font-weight: bold;
    border-radius: 24rpx 24rpx 0 0;
    color: #222;
    background-color: #fff;
    .close {
        position: absolute;
        top: 30rpx;
        left: 32rpx;
        display: flex;
        align-items: center;
        width: 40rpx;
        height: 54rpx;
        .close-img {
            width: 40rpx;
            height: 40rpx;
        }
    }
}
.vip-guide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24rpx auto 0;
    width: 686rpx;
    height: 88rpx;
    border: 2rpx solid #ff751a;
    border-radius: 88rpx;
    text {
        font-size: 32rpx;
        font-weight: bold;
        color: #ff751a;
    }
}

// 普通支付
.kk-pay-wrap {
    padding-bottom: 24rpx;
    // 批量购-新增
    .kk-batch-buy {
        // padding: 0 40rpx;
        display: flex;
        // justify-content: space-around;
        justify-content: center;
        margin-bottom: 40rpx;
        padding: 0 30rpx;
        .gear {
            position: relative;
            margin: 0 10rpx;
            width: 240rpx;
            max-width: 240rpx;
            // width: 152rpx;
            height: 96rpx;
            font-size: 24rpx;
            border-style: solid;
            border-width: 2rpx;
            border-color: rgba(255, 117, 26, 0.08);
            border-radius: 8rpx;
            text-align: center;
            color: #333;
            line-height: 96rpx;
            box-sizing: border-box;

            &.selected {
                font-weight: 500;
                border-color: #ff751a;
                background: #fffaf6;
            }

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 8rpx;
                height: 28rpx;
                font-size: 18rpx;
                border-radius: 8rpx 0;
                color: #fff;
                background: #ff751a;
                line-height: 28rpx;
            }
        }
        &.vip-kk-batch-buy {
            .gear {
                border-color: rgba(210, 35, 215, 0.08);
                &.selected {
                    border-color: #d223d7;
                    background: #f9f6ff;
                }
                .icon {
                    background: linear-gradient(to right, #d223d7, #730ed2);
                }
            }
        }
    }
}

//ios不可支付区域，外层类名
.kk-pay-special {
    padding-bottom: 60rpx;
    width: 100%;
}

// 安卓广告区域，外层类名
.kk-ads-space {
    padding-bottom: 60rpx;
    width: 100%;
}

// 安卓阅读卷，外层类名
.kk-read-coupon {
    padding-bottom: 60rpx;
    width: 100%;
}

// 未登录-新增
.kk-not-login {
    padding-bottom: 60rpx;
    .title {
        font-size: 40rpx;
        font-weight: bold;
        text-align: center;
        color: #333;
        line-height: 40rpx;
    }
    .login-btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32rpx;
        width: 100%;
        .login-btn {
            width: 530rpx;
            height: 88rpx;
            font-size: 30rpx;
            border-radius: 44rpx;
            color: #fff;
            background: #ff751a;
            line-height: 88rpx;
        }
    }
}
