.kk-button-base {
    position: relative;
    margin: 0 auto;
    width: 686rpx;
    .button {
        position: relative;
        width: 686rpx;
        height: 88rpx;
        font-size: 30rpx;
        border-radius: 44rpx;
        line-height: 88rpx;
    }
    // 禁用
    .disabled {
        color: #cfc6e9;
        background: #f9f6ff;
    }
    // 实心
    .solid {
        color: #fff;
        background: #ff751a;
    }
    // 边框
    .border {
        border: 1px solid #ff751a;
        color: #ff751a;
    }
    .login {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100% !important;
        height: 100%;
        background: none !important;
    }
}

.vip-kk-button-base {
    .solid {
        color: #fff;
        background: linear-gradient(135deg, rgba(209, 0, 214, 1) 0%, rgba(108, 1, 207, 1) 100%);
    }
    .border {
        border: 1px solid #5d04b5;
        color: #5d04b5;
    }
}
