.title_0 {
    .txt {
        font-size: 34rpx;
        color: rgba(255, 255, 255, 1);
    }
}
.desc_0 {
    .txt {
        font-size: 20rpx;
        color: rgba(255, 255, 255, 1);
    }
}
.title_0,
.desc_0 {
    .color {
        color: #ffe23d;
    }
}
.title_1 {
    .txt {
        font-size: 36rpx;
        color: rgba(255, 255, 255, 1);
        line-height: 48rpx;
    }
}
.desc_1 {
    .txt {
        font-size: 28rpx;
        color: rgba(255, 255, 255, 1);
        line-height: 34rpx;
    }
}
.title_1,
.desc_1 {
    .color {
        color: rgba(172, 174, 255, 1);
    }
}

.title_2 {
    .txt {
        font-size: 32rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: 32rpx;
    }
}
.desc_2 {
    .txt {
        font-size: 24rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        color: rgba(255, 255, 255, 1);
        line-height: 24rpx;
        margin-top: 16rpx;
    }
}

.title_2,
.desc_2 {
    .color {
        color: rgba(255, 231, 81, 1);
    }
}
