// 成功弹窗(签到成功 & 完成任务弹窗)
.success-popup-mask {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    //遮罩层显示动画
    &.success-show-mask {
        bottom: 0;
        height: 100vh;
        animation: fade-in ease-in-out 0.4s 1 alternate forwards;
    }
    //隐藏遮罩层
    &.success-hide-mask {
        height: 0;
    }

    //预加载图片模块
    .preloading {
        display: none !important;
    }

    //弹窗盒子模块 S
    .success-warp-dialog {
        z-index: 1;
        width: 576rpx;
        height: auto;
        position: relative;
        opacity: 0;
        background: #fff;
        border-radius: 24rpx;
        //padding: 48rpx 56rpx;
        box-sizing: border-box;
        &.success-show-contain {
            animation: popup-animate 0.4s linear forwards;
        }
    }
    //弹窗盒子模块 E

    //规则弹窗 S
    .success-warp-dialog .rule-popup {
        //height: 484rpx;
        height: auto;
        //规则标题
        .rule-popup-titel {
            padding: 48rpx 0 26rpx 0;
            font-size: 36rpx;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            line-height: 46rpx;
            text-align: center;
        }
        //内容文案
        .rule-popup-text {
            padding: 0 56rpx;
            .item {
                font-size: 30rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                line-height: 50rpx;
                .rule-rich-text {
                    font-size: 30rpx;
                    .b {
                        padding-right: 8rpx;
                        font-weight: normal;
                    }
                }
            }
        }
        //按钮
        .rule-popup-btn {
            margin: 40rpx auto 48rpx;
            width: 380rpx;
            height: 80rpx;
            background: rgba(255, 226, 61, 1);
            border-radius: 40rpx;
            text-align: center;
            line-height: 80rpx;
            font-size: 32rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(68, 37, 9, 1);
        }
    }
    //规则弹窗 S

    //奖励弹窗样式 S
    .reward-popup {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: auto;
        //height: 498rpx;
        min-height: 200rpx;
        border-radius: 24rpx;

        //奖励弹窗->成功图标识(icon)
        .success-icon-wrap {
            position: absolute;
            width: 168rpx;
            height: 168rpx;
            left: 0;
            right: 0;
            top: -84rpx;
            margin: 0 auto;
            z-index: 10;
            .icon {
                width: 100%;
                height: 100%;
            }
        }

        //奖励弹窗->成功标题
        .success-title-wrap {
            position: relative;
            padding: 56rpx 88rpx 0;
            height: 80rpx;
            .title-bg {
                width: 100%;
                height: 100%;
            }
            .title {
                position: absolute;
                width: 100%;
                height: 80rpx;
                z-index: 1;
                text-align: center;
                left: 0;
                top: 56rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                text {
                    padding-top: 28rpx;
                    font-size: 40rpx;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: rgba(255, 117, 26, 1);
                    line-height: 48rpx;
                }
            }
        }

        //奖励弹窗->成功副标题
        .success-subtitle-wrap {
            padding-top: 8rpx;
            height: 30rpx;
            font-size: 24rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 30rpx;
            text-align: center;
            .rich-text .b {
                padding: 0 6rpx;
                color: #ffba15;
                font-weight: 500;
            }
        }
        //奖励弹窗->奖励内容
        .success-content-wrap {
            padding: 32rpx 0 48rpx 0;
            height: 120rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            //奖励icon
            .reward-iocn {
                width: 120rpx;
                height: 120rpx;
                .iocn {
                    width: 120rpx;
                    height: 120rpx;
                }
            }
            //奖励内容
            .reward-content {
                padding-left: 16rpx;
                font-size: 36rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
            }
        }
        //奖励弹窗->确认按钮
        .success-btn-wrap {
            margin: 0 auto;
            margin-bottom: 48rpx;
            width: 380rpx;
            height: 80rpx;
            background: rgba(255, 226, 61, 1);
            border-radius: 40rpx;
            text-align: center;
            line-height: 80rpx;
            font-size: 32rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(68, 37, 9, 1);
        }
    }
    //奖励弹窗样式 E
}

@keyframes fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes popup-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
