.skeleton {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    overflow: hidden;
    .bg {
        background: #f7f9fa;
        // background-color: #ededed;
        background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1.5s loading ease-in-out infinite;
        &.main-txt {
            background: linear-gradient(120deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
            background-size: 180% 100%;
            background-position-x: 180%;
        }
    }
    .chunk {
        padding: 32rpx 24rpx;
        box-sizing: border-box;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16rpx;
        .user {
            display: flex;
            align-items: center;
            .avatar {
                width: 60rpx;
                height: 60rpx;
                border-radius: 50%;
            }
            .txt {
                width: 100rpx;
                height: 28rpx;
                margin-left: 16rpx;
            }
        }
        .praise {
            width: 100rpx;
            height: 24rpx;
        }
    }
    .content {
        width: 100%;
        padding-left: 76rpx;
        box-sizing: border-box;
        .main {
            &-txt {
                width: 100%;
                height: 32rpx;
                margin-bottom: 16rpx;
            }
        }
    }
}
.comment-detail {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f7f9fa;
    .main-comment {
        background: #fff;
    }
    .reply-comment {
        background: #f7f9fa;
        .module {
            border-bottom: 1rpx solid #eeeeee;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
