.feed-item {
    background: #fff;
    padding: 0 24rpx;
    width: 702rpx;
    height: 636rpx;
    margin-bottom: 16rpx;
    .top {
        padding-top: 32rpx;
        display: flex;
        align-items: center;
        color: #333;
        height: 48rpx;
        .title {
            font-size: 32rpx;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: PingFangSC-Medium, PingFang SC;
            color: #333;
            font-weight: 500;
        }
        .follow {
            height: 48rpx;
            box-sizing: border-box;
            width: 96rpx;
            text-align: center;
            border-radius: 100rpx;
            border: 2rpx solid rgba(230, 230, 230, 1);
            font-size: 22rpx;
            margin-left: 20rpx;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right {
            image {
                width: 20rpx;
                height: 20rpx;
                opacity: 0.6;
            }
        }
    }
    .label {
        padding-top: 13rpx;
        display: flex;
        &-text {
            height: 40rpx;
            line-height: 40rpx;
            background: rgba(249, 243, 232, 1);
            border-radius: 22rpx;
            margin-right: 12rpx;
            color: #b89668;
            font-size: 20rpx;
            padding: 0 16rpx;
            display: block;
            display: flex;
            align-items: center;
            max-width: 313rpx;
            text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1;
                display: block;
                height: 40rpx;
                line-height: 40rpx;
                box-sizing: border-box;
            }
            image {
                width: 14rpx;
                height: 14rpx;
                margin-left: 2rpx;
            }
        }
    }
    .content {
        margin-top: 20rpx;
        position: relative;
        border-radius: 4rpx;
        overflow: hidden;
        .img {
            height: 395rpx;
            position: relative;
            z-index: 1;
            display: flex;
        }
        .tip {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            font-size: 32rpx;
            padding: 0 16rpx;
            color: #fff;
            box-sizing: border-box;
            width: 100%;
            height: 100rpx;
            padding-top: 44rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-shadow: 0 1px 3rpx rgba(0, 0, 0, 0.1);
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(186, 165, 219, 0.7));
        }
    }
    .info {
        position: relative;
        display: flex;
        align-items: center;
        height: 88rpx;
        box-sizing: border-box;
        color: #999;
        .subtitle {
            flex: 1;
            font-size: 26rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10rpx 0;
            font-family: PingFangSC-Regular, PingFang SC;
        }
        .praise {
            width: auto;
            font-size: 24rpx;
            margin-left: 50rpx;
            position: relative;
            display: flex;
            align-items: center;
            image {
                width: 38rpx;
                height: 38rpx;
            }
            text {
                padding-left: 12rpx;
                font-size: 24rpx;
                margin-top: 6rpx;
                &.active {
                    // color: #FEE23E;
                    color: #ffba15;
                }
            }
        }
    }
}
