.cultivate {
    min-height: 2480rpx;
    background-color: #060632;
}

.btn {
    width: 80%;
    height: 88rpx;
    line-height: 88rpx;
    margin: auto;
    background-color: #fed23d;
    color: #442509;
    border-radius: 8rpx;
    margin-bottom: 20rpx;
    text-align: center;
}
