.team {
    &-wrap {
        min-height: 100vh;
        padding-bottom: 90rpx;
    }
    &-navigator {
        position: fixed;
        top: 0rpx;
        left: 16rpx;
        padding: 0 10rpx;
        width: 68rpx;
        height: 68rpx;
        z-index: 9990;
        .icon-img {
            width: 68rpx;
            height: 68rpx;
        }
    }
    &-banner {
        width: 100%;
        overflow: hidden;
        image {
            width: 100%;
        }
    }
    &-invite {
        &-content {
            margin-top: 30rpx;
            margin-bottom: 8rpx;
            padding: 0 28rpx;
            .invite-top {
                height: 56rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 580rpx;
                margin: 0 auto;
                background: #8547f0;
                border-radius: 15rpx;
                text {
                    font-family: PingFang SC;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24rpx;
                    color: #fff;
                }
                .space {
                    opacity: 0.5;
                    margin: 0 14rpx;
                }
            }
            .invite-time {
                margin: 32rpx 0;
                height: 26rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                text {
                    font-family: PingFang SC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26rpx;
                    line-height: 26rpx;
                    color: #999999;
                }
                .active {
                    color: #8547f0;
                    font-weight: 500;
                    margin: 0 4rpx;
                }
            }
            .invite-space {
                height: 40rpx;
                width: 100%;
                overflow: hidden;
            }
            .invite-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                &-item {
                    margin-bottom: 32rpx;
                    width: 106rpx;
                    margin-left: 36rpx;
                    margin-right: 36rpx;
                    .photo {
                        position: relative;
                        width: 106rpx;
                        height: 106rpx;
                        border-radius: 200rpx;
                        overflow: hidden;
                        image {
                            width: 100%;
                            height: 100%;
                        }
                        button.share {
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            background: none;
                        }
                    }
                    .name {
                        font-family: PingFang SC;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22rpx;
                        line-height: 32rpx;
                        text-align: center;
                        color: #222222;
                        margin-top: 20rpx;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        &.disabled {
                            font-weight: normal;
                            color: #999;
                        }
                    }
                }
                // 配置10个坑位
                &-10 {
                    justify-content: space-between;
                    .invite-list-item {
                        margin-left: 0rpx;
                        margin-right: 0rpx;
                    }
                }
                // 配置8个坑位
                &-8,
                &-4 {
                    .invite-list-item {
                        margin-left: 22rpx;
                        margin-right: 22rpx;
                    }
                }
            }
            .invite-button {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 20rpx;
                &-cell {
                    position: relative;
                    &.cell-1 {
                        width: 400rpx;
                        margin: 0 auto;
                    }
                    &.cell-2 {
                        width: 284rpx;
                    }
                    button {
                        border-radius: 200rpx;
                        width: 100%;
                        height: 88rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: PingFang SC;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 32rpx;
                        &.share {
                            background: #fdf551;
                            // border: 4rpx solid #8547F0;
                            color: #8547f0;
                        }
                        &.troops {
                            background: #8547f0;
                            color: #fff;
                        }
                        &.disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .invite-award {
                // padding-top: 20rpx;
                &-item {
                    margin-top: 24rpx;
                    width: 598rpx;
                    height: 140rpx;
                    background: rgba(133, 71, 240, 0.1);
                    border: 4rpx solid rgba(133, 71, 240, 0.2);
                    border-radius: 12rpx;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                }
                &-more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 92rpx;
                    text {
                        font-family: PingFang SC;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 22rpx;
                        text-align: center;
                        color: #8547f0;
                    }
                }
                .award-bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                }
                .award-icon {
                    margin-left: 20rpx;
                    width: 114rpx;
                    height: 114rpx;
                    position: relative;
                    z-index: 3;
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .award-info {
                    position: relative;
                    z-index: 3;
                    flex: 1;
                    min-width: 0;
                    padding: 0 20rpx;
                }
                .award-title {
                    font-family: PingFang SC;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26rpx;
                    line-height: 40rpx;
                    color: #8547f0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .award-time {
                    display: flex;
                    align-items: center;
                    text {
                        font-family: PingFang SC;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26rpx;
                        line-height: 40rpx;
                        color: #8547f0;
                    }
                }
                .award-button {
                    position: relative;
                    z-index: 3;
                    width: 147rpx;
                    margin-right: 20rpx;
                    text {
                        display: block;
                        width: 100%;
                        height: 48rpx;
                        line-height: 48rpx;
                        background: #8547f0;
                        border-radius: 200rpx;
                        color: #fff;
                        font-size: 22rpx;
                        text-align: center;
                    }
                    .disabled {
                        opacity: 0.5;
                    }
                }
            }
            .invite-login {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                overflow: hidden;
                opacity: 0.2;
            }
            .invite-mask {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 4;
                width: 100%;
                height: 100%;
                overflow: hidden;
                opacity: 0.2;
            }
        }
    }
    &-box {
        margin: 36rpx auto 0;
        width: 686rpx;
        border: 6rpx solid rgba(0, 0, 0, 0.8);
        background: #fff;
        border-radius: 20rpx;
        min-height: 100rpx;
        padding: 9rpx 0;
        position: relative;
        &-title {
            width: 340rpx;
            height: 72rpx;
            line-height: 72rpx;
            color: #fff;
            text-align: center;
            font-size: 32rpx;
            font-weight: 600;
            font-family: PingFang SC;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -170rpx;
            background: #8547f0;
            border-bottom-left-radius: 36rpx;
            border-bottom-right-radius: 36rpx;
        }
        &-border {
            border: 4rpx solid rgba(0, 0, 0, 0.15);
            border-radius: 12rpx;
            width: 662rpx;
            margin: 0 auto;
        }
    }
    &-topics {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 76rpx 25rpx 0 25rpx;
            &:after {
                content: "";
                height: 0;
                width: 196rpx;
                overflow: hidden;
            }
        }
        &-item {
            width: 196rpx;
            height: 360rpx;
            position: relative;
            overflow: hidden;
            border-radius: 16rpx;
            margin-top: 24rpx;
            .topics-bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #8547f0;
                opacity: 0.1;
            }
            .topics-cover {
                position: relative;
                z-index: 3;
                height: 262rpx;
                width: 100%;
                margin-bottom: 10rpx;
                &-bottom {
                    background: linear-gradient(90deg, #8547f0 0%, rgba(133, 71, 240, 0) 100%);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 3;
                    width: 100%;
                    height: 34rpx;
                    line-height: 34rpx;
                    padding: 0 10rpx;
                    color: #fff;
                    font-size: 22rpx;
                    font-weight: 500;
                    overflow: hidden;
                }
            }
            .topics-info {
                position: relative;
                z-index: 3;
            }
            .topics-title {
                font-family: PingFang SC;
                font-style: normal;
                font-weight: 500;
                font-size: 28rpx;
                line-height: 40rpx;
                padding: 0 10rpx;
                color: #222222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .topics-subtitle {
                font-family: PingFang SC;
                font-style: normal;
                font-weight: normal;
                font-size: 24rpx;
                line-height: 40rpx;
                padding: 0 10rpx;
                color: #222222;
                opacity: 0.5;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &-more {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96rpx;
            text {
                font-family: PingFang SC;
                font-style: normal;
                font-weight: normal;
                font-size: 22rpx;
                text-align: center;
                color: #8547f0;
            }
        }
    }
    &-rule {
        &-content {
            padding: 68rpx 32rpx 32rpx;
            .title {
                font-family: PingFang SC;
                font-style: normal;
                font-weight: 600;
                font-size: 28rpx;
                line-height: 40rpx;
                display: flex;
                align-items: center;
                color: #222222;
                margin-top: 24rpx;
            }
            .info {
                font-family: PingFang SC;
                font-style: normal;
                font-weight: normal;
                font-size: 26rpx;
                line-height: 40rpx;
                display: flex;
                align-items: center;
                color: #222222;
                margin-top: 6rpx;
            }
        }
    }
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    &-info {
        width: 494rpx;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20rpx;
        padding: 48rpx 40rpx;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-title {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 500;
        font-size: 34rpx;
        line-height: 42rpx;
        text-align: center;
        color: #222222;
        margin-bottom: 16rpx;
    }
    &-subtitle {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: normal;
        font-size: 30rpx;
        line-height: 36rpx;
        text-align: center;
        color: #666666;
        margin-bottom: 16rpx;
    }
    &-icon {
        height: 180rpx;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        image {
            width: 200rpx;
        }
    }
    &-btn {
        background: #ffe120;
        border-radius: 44rpx;
        height: 88rpx;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 500;
        font-size: 32rpx;
        color: #222222;
        margin-top: 32rpx;
    }
}
