.kk-vip-detainment {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    animation: fade-in ease-in-out 0.5s 1 alternate forwards;
    z-index: 3000;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    .detainment-warp {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        // 弹窗头部icon
        .popup-icon-warp {
            position: absolute;
            left: 0;
            top: -88rpx;
            width: 100%;
            height: 160rpx;
            z-index: 10;
            .icon {
                width: 100%;
                height: 100%;
            }
        }
        .content-warp {
            position: relative;
            width: 616rpx;
            height: 504rpx;
            background: linear-gradient(180deg, #f9f6ff 0%, #ffffff 100%);
            border-radius: 24rpx;
            overflow: hidden;
        }
        .mini-con-warp {
            height: 376rpx;
            width: 600rpx;
        }
        // 头部条状样式
        .top-bg {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 136rpx;
            .white {
                width: 34rpx;
                height: 154rpx;
                background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
        // 弹窗文字标题
        .title-text-warp {
            position: absolute;
            left: 0;
            top: 66rpx;
            z-index: 1;
            width: 100%;
            height: 80rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 400rpx;
                height: 100%;
            }
            .text,
            .text-warp {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 80rpx;
                line-height: 80rpx;
                font-size: 36rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #333333;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .texts {
                    line-height: 80rpx;
                    font-size: 36rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #333333;
                    text-align: center;
                }
                .color {
                    padding: 4rpx;
                    color: #ff751a;
                }
            }
        }
        // 优惠券部分
        .coupon-warp {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 220rpx;
            .left,
            .right {
                position: relative;
                height: 100%;
                .icon {
                    width: 100%;
                    height: 100%;
                }
                .con-warp {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 20rpx 0;
                    width: 100%;
                    box-sizing: border-box;
                    // height: 180rpx;
                    // width: 200rpx;
                    // width: 336rpx;
                }
            }
            .left {
                width: 240rpx;
                .con-warp {
                    padding-left: 40rpx;
                }
                .top-text {
                    padding-top: 40rpx;
                    padding-bottom: 14rpx;
                    display: flex;
                    justify-content: center;
                    .min {
                        padding-top: 30rpx;
                        width: 20rpx;
                        height: 20rpx;
                        font-size: 20rpx;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #ffffff;
                        line-height: 20rpx;
                    }
                    .max {
                        height: 60rpx;
                        font-size: 60rpx;
                        font-family: PingFangSC-Semibold, PingFang SC;
                        font-weight: 600;
                        color: #ffffff;
                        line-height: 60rpx;
                    }
                }
                .bottom-text {
                    height: 20rpx;
                    font-size: 20rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 20rpx;
                    text-align: center;
                }
            }
            .right {
                width: 376rpx;
                .con-warp {
                    padding: 60rpx 40rpx 20rpx 40rpx;
                    .top-text {
                        width: 100%;
                        box-sizing: border-box;
                        padding-bottom: 28rpx;
                        height: 40rpx;
                        font-size: 30rpx;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #333333;
                        line-height: 40rpx;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .bottom-text {
                        display: inline-block;
                        box-sizing: border-box;
                        height: 36rpx;
                        background: rgba(255, 117, 26, 0.1);
                        border-radius: 6rpx;
                        padding: 0 6rpx;

                        font-size: 24rpx;
                        font-family: NotoSansHans-Medium, NotoSansHans;
                        font-weight: 500;
                        color: #ff751a;
                        line-height: 36rpx;
                    }
                }
            }
        }

        //按钮模块
        .btn-warp {
            margin: 12rpx auto 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 88rpx;
            width: 400rpx;
            background: #ffe23d;
            border-radius: 44rpx;
            .text-1 {
                font-size: 36rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #442509;
            }
            .text-2 {
                padding-left: 8rpx;
                font-size: 30rpx;
                font-family: PingFangSC-Light, PingFang SC;
                font-weight: 300;
                color: rgba(68, 37, 9, 0.6); //#442509;
                text-decoration: line-through;
            }
        }

        //关闭按钮
        .close-warp {
            position: absolute;
            left: 50%;
            margin-left: -49rpx;
            bottom: -128rpx;
            width: 56rpx;
            height: 56rpx;
            padding: 20rpx;
            .icon {
                width: 100%;
                height: 100%;
            }
        }

        // 普通挽留弹窗(漫画页)
        .con-text {
            margin: 0 auto;
            padding: 32rpx 0 54rpx 0;
            width: 96%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .text {
                max-width: 50%;
                display: inline-block;
                font-size: 30rpx;
                font-family: PingFangSC-Regular, PingFang SC, sans-serif;
                font-weight: 400;
                color: #333333;
                line-height: 30rpx;
                overflow: hidden; //超出的文本隐藏
                text-overflow: ellipsis; //溢出用省略号显示
                white-space: nowrap; //溢出不换行
            }
            .text-2 {
                max-width: 60%;
                padding-left: 4rpx;
                color: #ff751a;
            }
        }
        // 普通挽留弹窗按钮
        .btn-list-warp {
            padding: 0 28rpx;
            display: flex;
            align-items: center;
            .btn {
                width: 260rpx;
                height: 88rpx;
                border-radius: 44rpx;
                font-size: 36rpx;
                // font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                line-height: 88rpx;
                text-align: center;
                overflow: hidden; //超出的文本隐藏
                text-overflow: ellipsis; //溢出用省略号显示
                white-space: nowrap; //溢出不换行
            }
            // 取消(离开关闭按钮)
            .cancel-btn {
                background: #f9f6ff;
                color: #666666;
                font-family: PingFangSC-Regular, PingFang SC, sans-serif;
            }
            // 确认(领取按钮)
            .confirm-btn {
                margin-left: 24rpx;
                background: #ffe23d;
                color: #442509;
                font-family: PingFangSC-Medium, PingFang SC, sans-serif;
            }
        }
    }

    .load-image-warp {
        display: none;
        .load-image {
            display: none;
            width: 0;
            height: 0;
        }
    }
}
.show-kk-vip-detainment {
    width: 100%;
    height: 100%;
    //min-height: 100vh;
    animation: fade-in ease-in-out 0.5s 1 alternate forwards;
}
