.pay-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    .pay-half {
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: transform 0.18s;
        transform: translateY(100%);
        z-index: 10;
        border-radius: 24rpx 24rpx 0 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #fff;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
    .pay-head {
        width: 100%;
        height: 108rpx;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 30rpx 32rpx 24rpx;
        box-sizing: border-box;
        position: relative;
        .txt {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 32rpx;
            color: #222222;
            line-height: 54rpx;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .close {
            position: absolute;
            width: 40rpx;
            height: 40rpx;
            top: 36rpx;
            right: 32rpx;
            image {
                width: 100%;
                height: 100%;
            }
        }
    }
    .show {
        transform: translateY(0);
    }
    .hide {
        transform: translateY(100%);
    }
    .footer {
        width: 100%;
        height: 80rpx;
        background-color: #fff;
        padding: 0rpx 32rpx;
        display: flex;
        align-items: center;
        .balance {
            font-size: 24rpx;
            color: #999999;
        }
        .recharge {
            margin-left: 12rpx;
            display: flex;
            align-items: center;
            text {
                font-size: 24rpx;
                color: #6F93BD;
            }
            .arrow {
                width: 20rpx;
                height: 20rpx;
            }
        }
    }
}
.container {
    width: 100%;
    background-color: #fff;
    .btn {
        width: 686rpx;
        height: 88rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100rpx;
    }
    .pay-btn {
        background-color: #ffe120;
        text {
            font-weight: bold;
            font-size: 32rpx;
            color: #222222;
        }
    }
    .batch {
        width: 100%;
        display: flex;
        flex-direction: column;
        .line {
            width: 100%;
            padding: 0 30rpx;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
        }
        .block {
            display: flex;
            margin: 0 8rpx;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12rpx;
            position: relative;
            padding: 0 24rpx;
            box-sizing: border-box;
            width: 160rpx;
            height: 104rpx;
            &.active {
                background: rgba(255, 225, 32, 0.05);
                border: 2rpx solid #FFE120;
            }
            .title {
                font-size: 24rpx;
                color: #222222;
                font-weight: bold;
                line-height: 30rpx;
            }
            .price {
                font-size: 20rpx;
                color: #999999;
                margin-top: 4rpx;
                line-height: 24rpx;
            }
            .icon {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 8rpx;
                height: 28rpx;
                line-height: 28rpx;
                background-color: #ffe120;
                color: #442509;
                font-size: 18rpx;
                border-radius: 8rpx 0 8rpx 0;
            }
        }
        .block1 {
            width: 240rpx;
            height: 96rpx;
        }
        .block2 {
            width: 240rpx;
            height: 96rpx;
        }
        .block3 {
            width: 218rpx;
            height: 96rpx;
        }
        .block4 {
            width: 152rpx;
            height: 96rpx;
        }
        .vprice {
            margin-top: 40rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 68rpx;
            .kkb {
                width: 56rpx;
                height: 56rpx;
                margin-right: 4rpx;
            }
            .price {
                font-size: 56rpx;
                color: #FF751A;
                font-weight: bold;
                line-height: 68rpx;
            }
        }
        .pay-btn {
            margin: 40rpx auto 24rpx;
        }
    }
    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        .line {
            width: 100%;
            padding: 0 32rpx;
            box-sizing: border-box;
            display: flex;
        }
        .block {
            width: 160rpx;
            height: 126rpx;
            display: flex;
            flex-direction: column;
            border-radius: 12rpx;
            align-items: center;
            padding-top: 32rpx;
            box-sizing: border-box;
            border: 2rpx solid #F5F5F5;
            margin-right: 16rpx;
            position: relative;
            overflow: hidden;
            &.give-info {
                padding-top: 20rpx;
            }
            &.active {
                border: 2rpx solid rgba(255, 117, 26, 0.6);
                background: rgba(255, 117, 26, 0.06);
            }
            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 34rpx;
                .kkb {
                    width: 32rpx;
                    height: 32rpx;
                    margin-right: 8rpx;
                }
                text {
                    font-size: 28rpx;
                    font-weight: bold;
                    color: #333333;
                    line-height: 34rpx;
                }
            }
            .price {
                margin-top: 4rpx;
                font-size: 20rpx;
                color: #999999;
                line-height: 24rpx;
            }
            .give {
                width: 100%;
                height: 36rpx;
                background: rgba(255, 117, 26, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                .txt {
                    font-weight: bold;
                    font-size: 20rpx;
                    line-height: 24rpx;
                    color: #FF771B;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                    padding: 0 12rpx;
                    box-sizing: border-box;
                }
            }
        }
        .isLeft {
            margin-right: 0;
        }
        .pay-btn {
            margin: 32rpx auto 24rpx;
        }
        .nopay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img {
                width: 300rpx;
                height: 158rpx;
            }
            .txt {
                margin-top: 16rpx;
                font-size: 24rpx;
                line-height: 30rpx;
                color: #666666;
            }
        }
        .no-pay-btn {
            background: #F5F5F5;
            margin: 40rpx auto 24rpx;
            text {
                font-weight: bold;
                font-size: 32rpx;
                color: #CCCCCC;
            }
        }
    }
    .noactive-1 {
        background-color: #ffffff;
        border: 2rpx solid #eeeeee;
    }
    .noactive-2 {
        background-color: #ffffff;
        border: 1rpx solid #eeeeee;
    }
}

// 折扣的价格
.pay-info-subtitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rpx;
    .pay-line {
        padding-left: 8rpx;
        font-size: 24rpx;
        line-height: 30rpx;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #b2b4c4;
        margin-right: 12rpx;
    }
    .delete {
        text-decoration: line-through;
    }
    .pay-desc {
        padding-left: 8rpx;
        font-size: 24rpx;
        line-height: 30rpx;
        font-weight: 400;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        color: #b2b4c4;
    }
    .more {
        position: relative;
        height: 32rpx;
        height: 32rpx;
        image {
            width: 32rpx;
            height: 32rpx;
        }
        .tips {
            position: absolute;
            top: 50%;
            right: -100%;
            margin-right: 68rpx;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 12rpx;
            padding: 20rpx 24rpx;
            box-sizing: content-box;
            color: #fff;
            &-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300rpx;
                font-size: 28rpx;
                line-height: 36rpx;
                height: 36rpx;
            }
        }
    }
}

.discount-icon {
    position: relative;
    width: 64rpx;
    height: 28rpx;
    margin-left: 16rpx;
    image {
        width: 64rpx;
        height: 28rpx;
    }
    .icon-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 20rpx;
        font-family: PingFangSC-Medium, PingFang SC, sans-serif;
        font-weight: 500;
        color: #fff;
        text-align: center;
        line-height: 28rpx;
    }
}
.vip-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 16rpx;
    .icon {
        width: 50rpx;
        height: 28rpx;
    }
    .mark {
        height: 28rpx;
        line-height: 28rpx;
        background-color: #ca00d5;
        color: #fff;
        padding: 0 6rpx;
        font-size: 20rpx;
        font-family: PingFangSC-Medium, PingFang SC, sans-serif;
    }
    .text {
        padding: 0 4rpx;
        max-width: 450rpx;
        height: 28rpx;
        background-color: rgba(207, 0, 214, 0.08);
        border-top-right-radius: 4rpx;
        border-bottom-right-radius: 4rpx;
        border: 2rpx solid #ca00d5;
        font-size: 20rpx;
        font-family: PingFangSC-Medium, PingFang SC, sans-serif;
        font-weight: 500;
        color: #9a00d2;
        line-height: 28rpx;
        text-align: center;
    }
}
