.kk-kkb-banner {
    width: 100%;
    position: relative;
    background: #fff;
    box-sizing: border-box;
    padding: 24rpx 0 0;
    .operate-banner {
        width: 686rpx;
        margin: auto;
        height: 180rpx;
        .banner-img {
            width: 100%;
            height: 100%;
        }
    }
    .more-recharge {
        width: 686rpx;
        background: linear-gradient(178.76deg, #ff8b3f 1.08%, #ffdb95 98.97%);
        border-radius: 16rpx;
        margin: 0 auto;
        // background: #F7F8F9;
        padding: 24rpx 0 20rpx;
        .top {
            height: 32rpx;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 24rpx;
            margin-bottom: 12rpx;
            box-sizing: border-box;
            .left {
                height: 100%;
                width: 192rpx;
            }
            .more {
                height: 100%;
                display: flex;
                align-items: center;
                line-height: 0;
                .total {
                    font-size: 24rpx;
                    color: #fff;
                    vertical-align: middle;
                    margin-top: -2rpx;
                    line-height: 1;
                    .money {
                        color: #fde23d;
                        // font-size: 28rpx;
                    }
                }
                .img {
                    width: 24rpx;
                    height: 24rpx;
                    margin-left: 6rpx;
                }
            }
        }
        .contain {
            width: 100%;
            height: 113px;
            overflow: hidden;
        }
        .bottom {
            width: 606rpx;
            margin: auto;
            line-height: 28rpx;
            font-size: 24rpx;
            color: #ff771b;
            margin-top: 20rpx;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            font-weight: 500;
        }
    }
    .scroll {
        width: 100%;
        height: 260rpx;
        white-space: nowrap;
        position: relative;
        .award-item {
            background: #fffbf3;
            margin: 0 4px;
            width: 124px;
            height: 88px;
            display: inline-block;
            position: relative;
            border-radius: 12rpx;
            box-sizing: border-box;
            // overflow: hidden;
            &:first-child {
                margin-left: 24rpx;
            }
            &.last-item {
                margin-right: 24rpx;
            }
            .mark {
                position: absolute;
                right: 0;
                top: 0;
                height: 32rpx;
                line-height: 32rpx;
                border-radius: 0 12rpx 0 12rpx;
                background: linear-gradient(133.81deg, #ffc13b -2.94%, #ff2e58 11.91%, #ff0e67 80.88%, #ff00ce 99.23%);
                font-weight: 500;
                font-size: 20rpx;
                color: #ffffff;
                padding: 0rpx 8rpx;
                box-sizing: border-box;
                &.already {
                    background: #ffecdf;
                    color: #ff771b;
                }
            }
            .sign {
                position: absolute;
                right: 0;
                top: 0;
                height: 32rpx;
                max-width: 120rpx;
                overflow: hidden;
                border-top-right-radius: 12rpx;
            }
            .cover-bg {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 6;
                background: rgba(255, 251, 243, 0.5);
                border-radius: 12rpx;
                display: flex;
                justify-content: center;
                .btn {
                    position: absolute;
                    bottom: 44rpx;
                    width: 128rpx;
                    height: 48rpx;
                    line-height: 48rpx;
                    background: #f7f8f9;
                    border-radius: 28rpx;
                    text-align: center;
                    font-size: 24rpx;
                    font-weight: 500;
                    color: #ffffff;
                    background: linear-gradient(260.77deg, #ff8b02 6.67%, #ff771b 98.25%);
                    box-shadow: 0px 8rpx 8rpx #ffcc84;
                }
            }
        }
        .award-infos {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            padding: 14px 0 0rpx;
            box-sizing: border-box;
            .icons {
                position: relative;
                width: 96px;
                height: 48px;
                margin-bottom: 4px;
            }
            .picture {
                position: relative;
                width: 100%;
                height: 100%;
            }
            .img-search {
                position: absolute;
                left: 0rpx;
                z-index: 2;
                bottom: -4rpx;
                width: 36rpx;
                height: 36rpx;
            }
            .infos {
                width: 90%;
                text-align: center;
                overflow: hidden;
                font-size: 20rpx;
                font-weight: 500;
                color: #ff771b;
                // line-height: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .progs {
            line-height: 1;
            height: 36rpx;
            margin-top: 10rpx;
            display: flex;
            align-items: center;
            float: left;
        }
        .progress-item {
            width: 132px;
            height: 12rpx;
            background: #fff;
            display: inline-block;
            position: relative;
            &:first-child {
                margin-left: 24rpx;
                width: 62px;
                border-radius: 30rpx 0 0 30rpx;
            }
            // &:last-child {
            //     width: 62px;
            //     border-radius: 0 30rpx 30rpx 0;
            //     .more-hit {
            //         position: absolute;
            //         font-size: 18rpx;
            //         color: #999999;
            //         right: 0;
            //         top: 18rpx;
            //     }
            // }
            .strip {
                width: 100%;
                height: 100%;
            }
            .dot {
                position: absolute;
                // width: 64rpx;
                height: 36rpx;
                padding: 0 14rpx;
                border-radius: 36rpx;
                background: #ff771b;
                right: 0;
                transform: translateX(50%);
                bottom: -12rpx;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                &.color {
                    background: #fff;
                    .txt {
                        color: #ff771b;
                    }
                }
                .txt {
                    font-size: 24rpx;
                    color: #fff;
                    line-height: 1;
                    font-weight: 500;
                    display: inline-block;
                }
            }
        }
    }
}
